* {
    /* border: red solid 1px; */
    margin: 10px;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    padding-top: 50px;
}

.setting-forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
h2 {
    width: 90%;
    text-align: center;
}

#info-container{
    border-right: black 1px solid;
}
}

#name-top {
    text-align: left;
}

.personal-infomation {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;

label{
    padding-right: 40px;
    margin-bottom: 0px;
}

}

.setting input {
    background-color: rgba(216, 215, 215, 0.898);
    width: 328px;
    height: 30px;
    border-radius: 5px;
    border: 1px;
    padding-left: 5px;
}


.update-goal {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.goal-form {
    display: flex;
    flex-direction: column;
 label{
    margin-bottom: 0px;
    }
}

.setting a {
    text-align: right;
}

#goal-h2 {
    width: 100%;
}

button {
    background-color: #22345C;
        border: none;
        color: #EFEFE9;
        margin-top: 20px;
        border-radius: 5%;
}